<section>
  <head>
    <title>Import NPC Stat block</title>
    <div>Expected Format:</div>
    <p>Giant Worker Ant: HD 2; AC 3[16]; Atk bite (1d6); Move 18; Save 16; Morale 10; AL N; CL/XP 2/30; Special: none.</p>
  </head>
  <body>
    <textarea style="height:80%;width:100%" id="importext" name="importext" placeholder="Enter your text here..."></textarea>
    <button type="submit">Submit</button>
  </body>
</section>
