<ol class='items-list'>
  {{#each system.spellSlots as |slots spellLevel|}}
  {{# if slots.memorizedSpells }}
  {{#each slots.memorizedSpells as |spell id|}}
  <li class='item grid grid-6col' data-item-id='{{spell._id}}'>
    <div class='item-name grid-span-5'>
      <div class='item-image'>
        <a class='rollable' data-roll-type='item'>
          <img src='{{spell.img}}' title='{{spell.name}}' width='24' height='24'/>
        </a>
      </div>
      <h4>{{spell.name}}</h4>
    </div>
    <div class='item-controls'>
      <a class='item-control item-cast' title='Cast'>
        <i class='fas fa-wand-magic'></i>
      </a>
    </div>
  </li>
  {{/each}}
  {{/if}}
  {{/each}}
</ol>
