<section>
  <head>
    <title>Character Creator</title>
  </head>
  <body>
    <div class="dialog-content">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="form-fields">
          <input name="name" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label for="folder">Folder</label>
        <div class="form-fields">
          <select name="folder">
            <option value="">--</option>
            {{#each folders as |folder|}}
            <option value="{{folder.id}}">{{folder.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="dialog-buttons">
      <button class="dialog-button ok default bright" data-button="ok" type="submit">Create Character</button>
    </div>
  </body>
</section>
