{{ log 'damage-roll-sheet' this}}
<h3>Damage: {{item.name}}</h3>
<hr>
<a class="inline-result"><span>{{{roll}}}</span></a>
<div></div>
{{#if item.system.specialDamage}}
<hr>
<div>Special: {{item.system.specialDamage}}</div>
{{/if}}
<hr>
<div></div>
