.damage-roll-button {
  font-family: $font-primary;
  width: 100%;
  margin-top: 5px;
}

.damage-special-text {
  margin-top: 5px;
}
.damage-target {
  border: 1px solid #666666;
  padding: 5px;
  margin-top: 5px;
}

.damage-buttons {
  display: flex;
  gap: 4px;
  margin-top: 4px;

  button {
    flex: 1;
    font-size: 11px;
  }
}
