<section>
  <head>
    <title>Character Creator</title>
  </head>
  <body>
    <form id="character-form">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="form-fields">
          <input name="name" type="text" />
        </div>
      </div>
      <div class="dialog-buttons">
        <button class="dialog-button ok default bright" data-button="ok" type="submit">Create Character</button>
    </form>
  </body>
</section>
