<section>
    <head>
        <title>Import NPC Stat block</title>
        <div>Expected Format:</div>
        <span style="font-size:0.75em;display:block;text-align:center;"><b>{{localize expected}}</b></span>
    </head>

    <body>
        <form style="height:90%;width:100%" class="{{cssClass}} custom-form" autocomplete="off" id="importform">
            <textarea style="height:80%;width:100%" id="importext" name="importext" placeholder="Enter your text here..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</section>
